
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v35/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal Styles */

* {
    box-sizing: border-box;
}

html {
    background-color: #0d1117;
    font-family: "Bebas Neue";
    color: #e7e7e7;
}

body {
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#0d1117, #4e04af);
}

h1 {
    font-size: 60px;
    font-weight: normal;
}

p {
    font-size: 30px;
}

.banner, #mission, #artists, #contact {
    margin-bottom: 22px;
}

.banner, #artists {
    box-shadow: 0px 6px 13px black;
}

#mission, #contact, header nav {
    text-shadow: 0px 6px 13px black;
}

#artists, #portfolio {
    max-width: 1843px;
}

/* Navigation */

header {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header nav {
    width: 100%;
    height: 69px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 1;
}

header img {
    height: 69px;
    width: 184px;
}

nav a {
    font-size: 30px;
    text-decoration-line: none;
    color: #e7e7e7;
}

#con {
    display: none;
}

/* Banner */

.banner {
    width: 100%;
    max-width: 2048px;
    max-height: 900px;
}

.banner img {
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

/* Mission */

#mission {
    width: 90%;
/*    background-color: #0d1117; */
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#mission h1 {
    margin: 0;
    margin-top: 30px;
}

#mission p {
    margin: 0;
    margin-bottom: 35px;
}

/* Artists */

#artists {
    width: 90%;
    background-color: #0d1117;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.people {
    display: inline-flex;
    justify-content: space-evenly;
}

.artist {
    width: 30%;
    margin-bottom: 40px;
}

.artist img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 10px;
}

.desc {
    font-size: 25px;
    border: 2px solid #e7e7e7;
}


/* Portfolio */

#portfolio {
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
/*    margin-top: 22px; */
    border-bottom: 2px solid #e7e7e7;
    flex-wrap: wrap;
}

.song {
/*    margin-bottom: 22px;  */
    margin: 22px;
}

/* Contact */

#contact {
    width: 90%;
/*  background-color: #0d1117; */
    border-radius: 10px;
    text-align: center;
}

/* Footer */

footer {
    background-color: #0d1117;
    text-align: center;
}

footer p {
    font-size: 25px;
    letter-spacing: 5px;
}

/* Alternative screen sizes */

@media only screen and (max-width: 768px) {
    
    .people {
        flex-direction: column;
        align-items: center;
    }
    
    .artist {
        width: 80%;
    }

    .artist img {
        max-height: 800px;
    }

    #mission p {
        margin: 0 20px;
        margin-bottom: 40px;
    }

    .banner, #mission h1, #mis {
        display: none;
    }

    #portfolio {
        flex-direction: column;
        align-items: center;
    }

    #con {
        display: initial;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .artist {
        width: 40%;
    }

    #mission p {
        margin: 0 20px;
        margin-bottom: 40px;
    }

    #mis {
        display: none;
    }

    #con {
        display: initial;
    }

}